body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(./assets/Coffee\ espresso\ template1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(75, 38, 20);
}

/* ##### header ##### */
header {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 30px;


}

.logo {
    margin-top: -20px;
}

.manu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.manu-items li {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #ffffff6b;
    height: 40px;
    padding: 0px 20px;
    border-radius: 7px;
}

.manu-items li a {

    text-decoration: none;
    font-size: 18px;
    color: rgb(75, 38, 20);

}

.manu-items li:hover {
    background-color: rgb(35, 19, 19);
    border: 1px solid transparent;

}

.manu-items a:hover {
    text-decoration: none;
    color: white;
}

/* ##### Home ##### */
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-left: 70px;
}

.text {
    font-size: 20px;
    margin-top: 70px;
}

.heading {
    font-size: 2em;
    font-size: calc(1px + 4vw);
    margin: 0px;
    font-weight: 600;
}

.heading+p {
    margin: 5px 0px;
    font-size: calc(7px + 1vw);
}

span {
    font-weight: bold;
}

.manu-btn {
    display: flex;
    justify-content: center;

}

button {
    background-color: transparent;
    font-size: 15px;
    padding: 10px 0px;
    width: 80px;
    border-radius: 5px;
    color: #4b2614;
    border: 1px solid #4b2614;
    margin-top: 20px;
    margin-right: 200px;
}

button:hover {
    background-color: rgb(75, 38, 20);
    color: #fff;
    z-index: 10;
}

.home-img {
    margin-top: -16%;
    margin-left: -70px;

}

.home-img img {
    width: 70%;
}

.right-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

#coffee-container .heading {
    text-align: center;
    font-size: calc(10px + 4vw);
}

.coffee-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 40px;
}

.coffee-cup {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.265), rgba(0, 0, 0, 0.265)),
        url(./assets/back4.jpg);
    background-size: cover;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    transition: all 0.4s ease;
}

.coffee-container .coffee-cup:hover {
    transform: scale(1.1);
}

.coffee-cup {
    position: relative;
}

.coffee-cup img {
    width: 150px;
    height: 130px;
    position: absolute;
    top: -40px;
    left: 30px;
    border-radius: 50%;
}

.coffee-discription {
    margin-top: 50%;
}

.coffee-discription h2 {
    margin: 5px 0px;
}

.coffee-discription p {
    font-size: 13px;
    margin: 2px 0px;
}

.image-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 50px;
    margin-top: 50px;
}

.image-text img {
    width: 30%;
    margin-right: 40px;
}

.img-text {

    text-align: justify;
}

.img-text p {
    width: 100%;
    font-size: calc(1px + 2vw);
    font-weight: 500;
    margin-right: 30px;

}

#cold-coffee .heading {
    text-align: center;
    font-size: calc(10px + 2vw);
}

.cold-coffee {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 4%;
}

.cup {
    width: 200px;
    height: 240px;
    background-color: rgba(185, 117, 83, 0.589);
    border: 5px solid white;
    text-align: center;
    transition: all 0.4s ease-in ;
}

.cup:hover {
    transform: translateY(-10px);
}

.cold-coffee img {
    width: 100px;
    height: 170px;
}

.text-body {
    background-color: #fff;
    /* padding: 1px 0px; */
    /* height: 20px */
}

.text-body h4 {
    font-size: 13px;
    padding: 12px 0px;
}

@media(max-width: 992px) {
    .manu-items li {
        padding: 0px 15px;
    }




    .manu-btn {
        justify-content: flex-start;


    }

    .left-container {
        padding-left: 40px;
    }

    button {
        margin-left: 40px;
    }

    .right-container {
        justify-content: flex-end;
    }

    .cold-coffee {
        /* padding: 0px 10px; */
    }

    .cup {
        width: 150px;
        height: 180px;
    }

    .cold-coffee img {
        width: 70px;
        height: 140px;
    }

    .text-body h4 {
        font-size: 10px;
        padding: 3px 0px;

    }
}

@media (max-width: 768px) {
    nav {
        padding: 0px 30px 0px 15px;
    }

    .manu-items {
        gap: 7px
    }

    .manu-items li {
        height: 35px;
        padding: 0px 15px;
    }

    .manu-items li a {
        font-size: 15px;
    }

    #home {
        height: 400px;
    }

    .left-container {
        padding-left: 20px;
    }

    button {
        margin-left: 10px;
    }

    .right-container {
        justify-content: center;
        width: 100%;
    }

    .right-container img {
        width: 70%;
    }

    .coffee-cup {
        width: 150px;
        height: 150px;
    }

    .coffee-cup img {
        width: 100px;
        height: 100px;
        top: -30px;
        left: 26px;
    }

    .coffee-discription h2 {
        font-size: 14px;
    }

    .image-text {
        padding: 40px 30px;
    }

    .cold-coffee {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 0px;
        padding: 20px;
    }

    .cup {
        width: 220px;
        height: 260px;
        /* border: 2px solid; */
        box-shadow: 3px 3px 5px ;
        /* margin: 30px; */
    }

    .cold-coffee img {
        width: 100px;
        height: 170px;
    }

    .text-body h4 {
        font-size: 13px;
        padding: 15px 0px;
    }
}


@media(max-width: 576px) {
    nav {
        padding: 0px 20px 0px 15px;
    }

    .manu-items {
        gap: 4px
    }

    .logo img {
        height: 60px;
        width: 60px;
    }

    .manu-items li {
        height: 30px;
        padding: 0px 8px;

    }

    .manu-items li a {
        font-size: 13px;
    }

    #home {
        height: 300px;
    }

    .left-container {
        margin-top: -10%;
    }

    button {
        margin-left: 20px;
        padding: 6px 0px
    }

    .home-img img {
        width: 60%;
    }

    .right-container {
        align-items: center;
        justify-content: flex-center;
        margin-left: -10%;
    }

    .right-container img {
        width: 140px;
    }

    .coffee-container {
        grid-template-columns: 1fr;
    }

    .coffee-cup {
        width: 200px;
        height: 200px;

    }

    .coffee-cup img {
        width: 150px;
        height: 130px;
        top: -30px;
        left: 26px;
    }

    .coffee-discription h2 {
        font-size: large;
    }

    .coffee-discription p {
        font-size: 16px;
    }

    .image-text {
        padding: 40px 20px;
    }

    .img-text p {
        width: 100%;
        text-align: justify;
    }

    .cold-coffee {

        grid-template-columns:1fr;
        justify-items: center;
        gap: 30px 0px;
        border: 2px solid;
        padding: 20px;
    }
}