body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255,0.4),rgba(255, 255, 255,0.4)),url(./assets/Coffee\ espresso\ template1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:rgb(75, 38, 20);
}
/* ##### header ##### */
header{
    position: sticky;
    top: 0;
    z-index: 100;
}

nav{
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 30px;
    

}

.logo{
    margin-top: -20px;
}

.manu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.manu-items li{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #ffffff6b;
    /* transition: all .3s linear; */
    height: 40px;
    padding: 0px 20px;
    border-radius: 7px;
}
.manu-items li a{

    text-decoration: none;
    font-size: 18px;
    color:rgb(75, 38, 20);
    
}
.manu-items li:hover{
    /* transform: scale(1.105); */
    background-color: rgb(35, 19, 19);
    border: 1px solid transparent;

}
.manu-items a:hover{
    text-decoration: none;
    color: white;    
}

#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    height: 480px;
}